@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('../componentes/header.css');
/* @import url('../componentes/navbar.css');
@import url('../componentes/hero.css'); */

:root{
    --bluePrimary : #00BBF0;
    --blueSecondary: #005792;
    --whiteBackground: #f5f7fa;
    --blackFont: #00204A;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: var(--whiteBackground);
    font-size: 18px;
}
.u-wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 0 1em;
}
/* header {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

} */

@media screen and (min-width: 768px) {
    header{
        flex-direction: row;
        justify-content: space-between;
    }
}